@media (max-width: 1200px) {
  .s-hero_headline {
    max-width: 49%;
  }

  #multiple-cards .multiple-cards-items .container {
    gap: 2rem 2%;
  }

  #multiple-cards .multiple-cards-item {
    width: 23.5%;
  }
}

@media (max-width: 991px) {
  header nav {
    display: none;
  }

  header .menu-mobile {
    display: block;
  }

  #s-hero .container {
    flex-direction: column;
    align-items: center;
  }

  .s-hero_headline {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4rem;
  }

  .s-hero_headline-content p {
    max-width: 100%;
  }

  footer {
    padding: 8.8rem 0;
  }

  footer main {
    gap: 5rem;
  }
}

@media (max-width: 768px) {
  footer main {
    flex-direction: column;
  }

  footer .footer-about {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer nav {
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  #multiple-cards > .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #multiple-cards .multiple-cards_title p {
    margin-bottom: 3.2rem;
  }

  #feature-cards .feature-cards_items {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 55%;
  }

  h1 {
    font-size: 4.2rem;
  }

  header .logo {
    max-width: 130px;
  }

  #s-hero {
    padding: 4rem 0;
  }

  .s-hero_headline {
    padding-top: 0;
  }

  .s-hero_headline-content {
    margin-bottom: 3.2rem;
  }

  #multiple-cards .multiple-cards-item {
    width: 49%;
  }

  #multiple-cards .multiple-cards-items .container {
    gap: 0.8rem 2%;
    margin-top: 4rem;
  }

  #multiple-cards {
    padding: 6.4rem 0;
  }

  footer nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
}
