/* Header */
header {
  width: 100%;
  padding: 2.4rem 0;
  background-color: var(--gray-colors-800);
  display: flex;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .menu-mobile {
  display: none;
}

header nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

header nav ul {
  display: flex;
  gap: 3.2rem;
}

header nav .btn-primary {
  padding: 0.9rem 3.4rem;
}

/* Section Hero */
#s-hero {
  width: 100%;
  display: flex;
  background-color: var(--white);
  padding: 7.2rem 0;
}

#s-hero .container {
  display: flex;
  justify-content: space-between;
}

.s-hero_headline {
  width: 100%;
  max-width: 64rem;
  padding-top: 10.8rem;
}

.s-hero_headline-content {
  margin-bottom: 5.6rem;
}

.s-hero_headline-content h1 {
  margin-bottom: 2rem;
}

.s-hero_headline-content p {
  max-width: 48.8rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--gray-colors-300);
}

.s-hero_headline .cta {
  padding: 1.75rem 3.7rem;
}

/* Feature Cards */
#s-main-feature-cards {
  background-color: var(--gray-colors-100);
}

#feature-cards {
  padding: 10.4rem 0 12.2rem;
}

#feature-cards > .container {
  position: relative;
}

#feature-cards > .container:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--white);
  position: absolute;
  bottom: -12.2rem;
  left: 0;
  opacity: 0.25;
}

#feature-cards .feature-cards_title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.8rem;
  margin-bottom: 4.8rem;
}

#feature-cards .feature-cards_title p {
  color: rgba(255, 255, 255, 0.7);
}

#feature-cards .feature-cards_items {
  display: flex;
  gap: 3.2rem;
  justify-content: space-between;
  align-items: center;
}

#feature-cards .feature-cards_item {
  display: flex;
  padding: 6.4rem 4.8rem 8rem;
  background-color: #100f17;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#feature-cards .feature-cards_item.selected {
  background-color: var(--white);
}

#feature-cards .feature-cards_icon {
  margin-bottom: 4rem;
}

#feature-cards .feature-cards_item p {
  margin-top: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
  line-height: 150%;
}

#feature-cards .feature-cards_item.selected p {
  color: var(--gray-colors-300);
}

#feature-cards .feature-cards_item.selected h3 {
  color: var(--gray-colors-100);
}

/* Multiple Cards */
#multiple-cards {
  padding: 10.4rem 0 12.2rem;
}

#multiple-cards > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#multiple-cards .multiple-cards_title p {
  color: var(--white);
  opacity: 0.7;
  margin-top: 0.8rem;
}

#multiple-cards .multiple-cards-items .container {
  display: flex;
  gap: 3.2rem;
  flex-wrap: wrap;
  margin-top: 5.6rem;
}

#multiple-cards .multiple-cards-item {
  width: 17.6rem;
  height: 11.2rem;
  background-color: var(--gray-colors-200);
  display: flex;
  align-items: center;
  justify-content: center;
}
